---
layout: layouts/base.njk
permalink: /search/
---

<h1>Search</h1>
<input type="hidden" id="feed" value="{{ '/feed/feed.json' | url }}" />
<input type="text" autocomplete="off" id="search" name="search" placeholder="dotnet" value="{{ tag }}" />
<ul class="nav" id="results"></ul>
<script defer type="text/javascript" src="{{ '/js/search.js' | url }}"></script>